
@page 
{
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body 
{
    background-color:#FFFFFF; 
    margin: 0px;  /* the margin on the content before printing */
}

.print_none{display:none}
