/*Author:Mehedi Hassan;*/

@import url(css/bootstrap.min.css);
@import url(css/font-awesome.min.css);
@import url(css/sweetalert.css);
@import url(css/themes/facebook/facebook.css);
@import url(css/datepicker.css);

@font-face {
  font-family: 'Aller-Light';
  src: url('fonts/Aller-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Aller-Light.woff') format('woff'), url('fonts/Aller-Light.ttf')  format('truetype'), url('fonts/Aller-Light.svg#Aller-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'Aller-Light';
	background-color: #f6f6f6;
}
*::-webkit-scrollbar {
    width: 0.6em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #54ACCF;
  outline: 1px solid slategrey;
}
ul{
	list-style: none;

}
a:hover,a:focus{
	outline: none;
}
textarea.form-control{
	resize: vertical;
}
label{
	display: block;
	cursor: pointer;
}
input[type=checkbox]{
	display: none;
	margin: 0;

}
.r-header h2 a{
	text-decoration: none;
	color: #54ACCF
}
.label-icon{
	display: inline-block;
}
.padding-style{
	padding-right: 5px;
}
.label-icon:before{
	content: "\f096";
	display:inline-block;
	font:normal normal normal 1em/1 FontAwesome;
	font-size:15px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	margin-right: 5px;
	width: 1em;
	color: #54ACCF
}
input[type=checkbox]:checked ~ .label-icon:before{
	content: "\f14a";
	display:inline-block;
	color: #4B8BF5;
	animation : check 150ms ease-in;
	-webkit-animation : check 150ms ease-in;
}
ol{
	list-style-type: bengali;
}
.main {
  
}
.star{
	color: red
}
.login-body{
	background-image: url(images/weather.png);
	background-repeat: repeat;
}
.block-title-sub{
    background: cadetblue;
    height: 50px;
    padding: 13px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.form-control{
	border-radius: 0;
}
.form-control:focus{
}
.block-space-bottom{
	margin-bottom: 20px;
}
.login-body:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 152, 219,0.2);
	z-index: 4;
}
.login-form{
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	transform: translate(-50%,-50%);
	z-index: 5;
	padding: 15px;
	border-radius: 4px;
	border:1px solid #ddd;
}
.left-menu-toggle{
	display: none;
}
.selectMonth{
    width: 218px;
    margin: 0 93px;
    background: cadetblue;
    color: #fff;
    padding: 0 8px;
    overflow: hidden;
}

.left-side{
	position: fixed;
	width: 100%;
	max-width: 191px;
	height: 100%;
	background-color: #333645;
	left: 0;
	top: 0;
	overflow: auto;
}
.right-side{
	position: relative;
	left: 191px;
	top: 0;
	width: calc(100% - 191px);
	padding: 10px;
}

.left-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.left-menu ul span{
	margin-right: 5px;
}
.left-menu ul a {
  color: #a9abb7;
  display: block;
  font-weight: bold;
  padding: 12px 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.6s,background-color 0.6s;
  -webkit-transition: color 0.6s,background-color 0.6s;
}
.left-menu ul a:hover{
	background-color: #54ACCF;
	color: #fff;
}
.left-menu ul a.active{
	color: #fff;
	background-color: #54ACCF;
}
.left-header{
	padding: 15px 5px;
	background-color: #54ACCF;
}
.avater{
	width: 50px;
	float: left;
	margin-right: 5px;
}
.avater img{
	border-radius: 50%;
	min-width: 50px;
	max-height: 50px
}
.avater-name {
  margin: 14px 0;
}
.avater-name h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.r-header {
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
  padding: 20px 10px;
}
.r-header h2 {
  display: inline-block;
  margin: 0;
  text-decoration: none;
}
.custom-btn {
  background-color: #343748;
  box-shadow: 0 0 2px 0 #343748;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  border: 1px solid #343748;
  -webkit-transition: background-color 0.6s, color 0.6s;
  -o-transition: background-color 0.6s, color 0.6s;
  transition: background-color 0.6s, color 0.6s;

}
.custom-btn:hover,.custom-btn:focus{
	background-color: #fff;
	color: #343748
}
.r-header > a{
	float: right;
	

}
.avater-name a:hover{
	color: #E4F1FE !important	
}
.dash-content{
	padding-top: 15px;
	padding-bottom: 15px;
}
.dash-block {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
  padding: 15px;
}
.dash-block .block-title {
  border-bottom: 1px solid #54ACCF;

  margin-top: 0;
  padding-bottom: 15px;
}
.list-user{
	padding-left: 0;
}
.list-user li h3{
	color: #54ACCF
}
.list-user li{
	border-bottom: 1px solid #ddd;
	padding: 7px 0;
	position: relative;
}
.list-user li:last-child{
	border-bottom: none;
}
.list-user .avater-name{
	width: calc(100% - 55px);
    float: right;
}
.list-user li:hover{
	background-color: #ddd;
}
.list-user .user-action{
	color: #54ACCF;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.nav.nav-tabs{
	margin-bottom: 15px;
}
.alert{
	border-radius: 0
}
.box-style{
	padding: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 8px #ddd;
}
#spin{
	display: none;
}
.ms_spin{
	display: inline-block !important;
}
.error-text{
	font-size: 5em
}
.error-page-block{
	margin-top: 3em;
}
.bread-cum{
	padding: 15px 10px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 1px 3px 7px 1px #ddd;
    border: 1px solid #ddd;
}
.bread-cum h3{
	margin: 0;
	font-size: medium;
	font-weight: bold;
}


table tbody tr.total-item{
	background-color: #54ACCF !important;
	color: #fff
}

/*====== Custom Checkbox Animation =======*/
@keyframes check{
	0%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	90%{
		-webkit-transform: scale(1.6);
		-ms-transform: scale(1.6);
		-o-transform: scale(1.6);
		transform: scale(1.6);
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes check{
	0%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	90%{
		-webkit-transform: scale(1.4);
		-ms-transform: scale(1.4);
		-o-transform: scale(1.4);
		transform: scale(1.4);
	}
	100%{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@media (max-width: 950px) {
	.left-side{
		margin-left: -191px;
		z-index: 99999;
		transition: margin 0.4s cubic-bezier(.55,.09,.68,.53);
		-webkit-transition: margin 0.4s cubic-bezier(.55,.09,.68,.53);
	}

	.right-side{
		width: 100%;
		left: 0
	}

	.left-side.left-side-open{
		margin-left: 0;
	}
	.left-menu-toggle{
		display: inline-block;
	}
	.left-menu-toggle.active{
		background-color: #fff;
		color: #000
	}
	.table{
		background-color: #fff;
	}
	.r-header h2{
		font-size: 30px;
		margin-bottom: 15px;
	}

}

.print-table{margin-top:30px}
.print-table tr{}

.print-table tr td p{text-align:center}
.sell_block_group{
    background: rgba(218,218,218,0.5);
    padding: 20px;
    margin: 10px;	
}

.print-table tr td p{text-align:center}

